.content-sobre{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    gap: 20%;
}

.content-sobre img{
    width: 30%;
    height: auto;
}

.sobre-title{
    width: 100px;
    font-size: 50px;
    font-weight: bold;
}

.sobre-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.tags a{
    width: 100%;
}

.button-cv{
    background-color: rgb(46, 46, 46);
    color: white;
    width: 100%;
}

.button-cv:hover{
    background-color: #636363;
}

.tag{
  padding: 10px 14px;
  color: black;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: sans-serif;
  margin-top: 20px;
}


.tag:nth-child(1){
  background-color: #F0DB4F;
}

.tag:nth-child(2){
  background-color: #264de4;
}

.tag:nth-child(3){
  background-color: #61DBFB;
}

.tag:nth-child(4){
  background-color: #2dba4e;
}

.tag:nth-child(5){
  background-color: #E34C26;
}
